.spinner {
  &IsFull {
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &Icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
